//SMS Box Theme

//Colors
$brand-primary:         #043E5D !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//Navbar inverse
// $navbar-inverse-bg:		#32506C !default;
// $navbar-inverse-color: #FFF;
// $navbar-inverse-link-color: #FFF;
// $navbar-inverse-link-hover-color: #51a8B1;
$navbar-inverse-bg:		#EEEEEE !default;
$navbar-inverse-color: #333333;
$navbar-inverse-link-color: #333333;
$navbar-inverse-link-hover-color: #000000;